[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
uncurl = {editable = true,git = "https://github.com/spulec/uncurl.git"}
fire = "*"

[requires]
python_version = "3.7"
